In [1]:
import os
import numpy as np
import pandas as pd

In [7]:
def data_summary(database_dir, summary_path):
    """To summarize database information.

    Please use `pandas.DataFrame` to summarize database
    information. Header includes `PatientID`, `CaseDate`,
    `CaseTime` and `Modality`. Save the dataframe by
    following `PatientID`, `CaseDate`, `CaseTime` and
    `Modality` in ascending order, also, without index.

    Args:
        database_dir (str): Path to database directory.
            Database directory contains each patient directory.
            For example, database_dir = '../data/patients-samples'.
            Under `database_dir` contains `patient-00000`,
            `patient-00001`, etc.
        summary_path (str): Path to save the summary dataframe.
            Dataframe will save in csv format.
    """
    raw_data = []
    for root, dirs, files in os.walk(database_dir):
        if root[-2:] == 'CT' or root[-2:] == 'MR':
            folder_root = root.replace(database_dir, '')
            raw_data.append(folder_root[1:].split('/'))
            
    df = pd.DataFrame(columns=['PatientID', 'CaseDate', 'CaseTime', 'Modality'])
    for i, data in enumerate(raw_data):
        df.loc[i] = [data[0].split('-')[1],
                     "/".join(data[1][4:14].split('.')), 
                     ":".join(data[1][15:].split('.')), 
                     data[2]]
    df = df.sort_values(by=['PatientID', 'CaseDate', 'CaseTime', 'Modality'])
    df = df.reset_index(drop=True)
    
    # output to summary.csv 
    filename = summary_path + "summary.csv"
    df.to_csv(filename, index = False)
    
    return df

summary_df = data_summary(database_dir='data/patients-samples', summary_path='./')
summary_df

   PatientID    CaseDate  CaseTime Modality
0      00000  2008/04/12  21:53:41       CT
1      00000  2008/04/12  23:08:33       MR
2      00001  2005/05/29  17:28:11       CT
3      00001  2012/04/04  14:36:43       CT
4      00001  2012/04/04  18:07:09       MR
5      00002  2006/02/12  05:40:24       CT
6      00002  2006/02/12  10:41:17       MR
7      00002  2010/01/01  18:00:54       CT
8      00002  2010/01/01  22:33:49       MR
9      00003  2009/08/25  04:18:22       CT
10     00003  2009/08/25  05:03:00       MR
11     00004  2007/01/03  13:41:29       CT
12     00004  2011/03/30  08:33:18       CT
13     00004  2011/03/30  22:18:19       MR
14     00005  2008/05/29  04:24:12       CT
15     00005  2008/05/29  04:55:52       MR
16     00005  2010/04/17  09:26:54       CT
17     00005  2010/04/17  13:56:52       MR
18     00005  2013/11/03  02:12:07       CT
19     00005  2013/11/03  21:23:02       MR
20     00006  2006/07/17  08:29:43       CT
21     00006  2006/07/17  18:05:47       MR
22     00006  2011/09/12  03:37:06       CT
23     00007  2003/08/09  01:30:05       CT
24     00007  2003/08/09  20:14:27       MR
25     00007  2009/07/09  06:43:47       CT
26     00007  2009/07/09  18:51:12       MR
27     00008  2009/04/25  17:15:23       CT
28     00008  2013/02/22  16:42:03       CT
29     00008  2013/02/22  17:50:53       MR
..       ...         ...       ...      ...
38     00012  2005/05/21  10:48:17       CT
39     00012  2005/05/21  23:09:28       MR
40     00012  2011/03/20  15:58:08       CT
41     00012  2011/03/20  17:09:01       MR
42     00013  2008/04/28  11:40:08       CT
43     00013  2008/04/28  22:42:14       MR
44     00014  2008/04/01  07:16:57       CT
45     00014  2008/04/01  19:43:23       MR
46     00014  2012/12/02  17:44:12       CT
47     00014  2012/12/02  22:31:35       MR
48     00015  2003/09/19  16:52:57       CT
49     00015  2004/02/22  10:42:07       CT
50     00015  2004/02/22  15:52:12       MR
51     00015  2012/01/12  11:44:45       CT
52     00016  2009/07/10  09:23:08       CT
53     00016  2009/07/10  19:55:57       MR
54     00016  2011/06/28  05:52:19       CT
55     00016  2011/06/28  11:30:19       MR
56     00016  2013/03/21  13:16:18       CT
57     00016  2013/03/21  18:30:25       MR
58     00017  2004/07/07  07:17:04       CT
59     00017  2004/07/07  15:30:35       MR
60     00017  2005/07/19  05:14:39       CT
61     00017  2005/07/19  20:38:59       MR
62     00017  2009/09/25  22:07:53       CT
63     00018  2005/05/09  14:36:36       CT
64     00018  2005/05/09  19:32:15       MR
65     00018  2008/02/26  07:19:33       CT
66     00018  2008/02/26  14:25:34       MR
67     00019  2013/11/30  05:25:10       MR

[68 rows x 4 columns]

In [ ]:
### ref: https://stackoverflow.com/a/9728478

def list_files(startpath):
    for root, dirs, files in os.walk(startpath):
#         print("root:", root)
        level = root.replace(startpath, '').count(os.sep)
        indent = ' ' * 4 * (level)
        print('{}{}/'.format(indent, os.path.basename(root)))
        subindent = ' ' * 4 * (level + 1)
#         for f in files:
#             print('{}{}'.format(subindent, f))

list_files('data/patients-samples/')

In [17]:
def get_target_cases_df(summary_df):
    """ Get target cases dataframe.

    Target is defined by following:
        1. Must be modality CT.
        2. If patient have several CTs,
           use the latest one.

    Args:
        summary_df (pandas.core.frame.DataFrame):
            Info summary dataframe.

    Returns:
        target_cases_df (pandas.core.frame.DataFrame):
            Target cases dataframe. Index should be successive.
    """
    
    # keep only CT
    df = summary_df[summary_df.Modality == 'CT']
    
    # keep the latest case per patient
    df = df.drop_duplicates(subset='PatientID', keep="last")

    # reset the index
    df = df.reset_index(drop=True)
    
    return df

get_target_cases_df(summary_df)

   PatientID    CaseDate  CaseTime Modality
0      00000  2008/04/12  21:53:41       CT
1      00001  2012/04/04  14:36:43       CT
2      00002  2010/01/01  18:00:54       CT
3      00003  2009/08/25  04:18:22       CT
4      00004  2011/03/30  08:33:18       CT
5      00005  2013/11/03  02:12:07       CT
6      00006  2011/09/12  03:37:06       CT
7      00007  2009/07/09  06:43:47       CT
8      00008  2013/02/22  16:42:03       CT
9      00009  2012/02/14  18:58:20       CT
10     00010  2006/08/29  03:04:35       CT
11     00011  2008/03/08  16:54:40       CT
12     00012  2011/03/20  15:58:08       CT
13     00013  2008/04/28  11:40:08       CT
14     00014  2012/12/02  17:44:12       CT
15     00015  2012/01/12  11:44:45       CT
16     00016  2013/03/21  13:16:18       CT
17     00017  2009/09/25  22:07:53       CT
18     00018  2008/02/26  07:19:33       CT