In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
def data_summary(database_dir, summary_path):
    """To summarize database information.

    Please use `pandas.DataFrame` to summarize database
    information. Header includes `PatientID`, `CaseDate`,
    `CaseTime` and `Modality`. Save the dataframe by
    following `PatientID`, `CaseDate`, `CaseTime` and
    `Modality` in ascending order, also, without index.

    Args:
        database_dir (str): Path to database directory.
            Database directory contains each patient directory.
            For example, database_dir = '../data/patients-samples'.
            Under `database_dir` contains `patient-00000`,
            `patient-00001`, etc.
        summary_path (str): Path to save the summary dataframe.
            Dataframe will save in csv format.
    """
    raw_data = []
    for root, dirs, files in os.walk(database_dir):
        if root[-2:] == 'CT' or root[-2:] == 'MR':
            folder_root = root.replace(database_dir, '')
#             print(folder_root)
#             print(folder_root[1:].split('/'))
            raw_data.append(folder_root[1:].split('/'))
            
    df = pd.DataFrame(columns=['PatientID', 'CaseDate', 'CaseTime', 'Modality'])
    for i, data in enumerate(raw_data):
        df.loc[i] = [data[0].split('-')[1],
                     "/".join(data[1][4:14].split('.')), 
                     ":".join(data[1][15:].split('.')), 
                     data[2]]
    df = df.sort_values(by=['PatientID', 'CaseDate', 'CaseTime', 'Modality'])
    filename = summary_path + "summary.csv"
    
    # output to summary.csv 
    df.to_csv(filename, index = False)
    
    return df
#     pass
data_summary(database_dir='data/patients-samples', summary_path='./')

   PatientID    CaseDate  CaseTime Modality
13     00000  2008/04/12  21:53:41       CT
14     00000  2008/04/12  23:08:33       MR
5      00001  2005/05/29  17:28:11       CT
3      00001  2012/04/04  14:36:43       CT
4      00001  2012/04/04  18:07:09       MR
34     00002  2006/02/12  05:40:24       CT
36     00002  2006/02/12  10:41:17       MR
33     00002  2010/01/01  18:00:54       CT
35     00002  2010/01/01  22:33:49       MR
46     00003  2009/08/25  04:18:22       CT
47     00003  2009/08/25  05:03:00       MR
44     00004  2007/01/03  13:41:29       CT
45     00004  2011/03/30  08:33:18       CT
43     00004  2011/03/30  22:18:19       MR
42     00005  2008/05/29  04:24:12       CT
41     00005  2008/05/29  04:55:52       MR
37     00005  2010/04/17  09:26:54       CT
39     00005  2010/04/17  13:56:52       MR
38     00005  2013/11/03  02:12:07       CT
40     00005  2013/11/03  21:23:02       MR
2      00006  2006/07/17  08:29:43       CT
0      00006  2006/07/17  18:05:47       MR
1      00006  2011/09/12  03:37:06       CT
16     00007  2003/08/09  01:30:05       CT
15     00007  2003/08/09  20:14:27       MR
17     00007  2009/07/09  06:43:47       CT
18     00007  2009/07/09  18:51:12       MR
8      00008  2009/04/25  17:15:23       CT
7      00008  2013/02/22  16:42:03       CT
6      00008  2013/02/22  17:50:53       MR
..       ...         ...       ...      ...
28     00012  2005/05/21  10:48:17       CT
26     00012  2005/05/21  23:09:28       MR
25     00012  2011/03/20  15:58:08       CT
27     00012  2011/03/20  17:09:01       MR
24     00013  2008/04/28  11:40:08       CT
23     00013  2008/04/28  22:42:14       MR
19     00014  2008/04/01  07:16:57       CT
22     00014  2008/04/01  19:43:23       MR
21     00014  2012/12/02  17:44:12       CT
20     00014  2012/12/02  22:31:35       MR
32     00015  2003/09/19  16:52:57       CT
29     00015  2004/02/22  10:42:07       CT
30     00015  2004/02/22  15:52:12       MR
31     00015  2012/01/12  11:44:45       CT
57     00016  2009/07/10  09:23:08       CT
59     00016  2009/07/10  19:55:57       MR
61     00016  2011/06/28  05:52:19       CT
58     00016  2011/06/28  11:30:19       MR
60     00016  2013/03/21  13:16:18       CT
56     00016  2013/03/21  18:30:25       MR
53     00017  2004/07/07  07:17:04       CT
51     00017  2004/07/07  15:30:35       MR
54     00017  2005/07/19  05:14:39       CT
55     00017  2005/07/19  20:38:59       MR
52     00017  2009/09/25  22:07:53       CT
64     00018  2005/05/09  14:36:36       CT
66     00018  2005/05/09  19:32:15       MR
67     00018  2008/02/26  07:19:33       CT
65     00018  2008/02/26  14:25:34       MR
48     00019  2013/11/30  05:25:10       MR

[68 rows x 4 columns]

In [ ]:
### ref: https://stackoverflow.com/a/9728478

def list_files(startpath):
    for root, dirs, files in os.walk(startpath):
#         print("root:", root)
        level = root.replace(startpath, '').count(os.sep)
        indent = ' ' * 4 * (level)
        print('{}{}/'.format(indent, os.path.basename(root)))
        subindent = ' ' * 4 * (level + 1)
#         for f in files:
#             print('{}{}'.format(subindent, f))

list_files('data/patients-samples/')